<h3>Uploaded lines from excel file</h3>

<ul>
<% @lines.each do |line| %>
  <li><%= line %></li>
<% end %>
</ul>

<hr />

<%= form_tag({action: 'upload'}, multipart: true) do %>
  <%= file_field_tag 'skus' %>
  <%= submit_tag 'Upload' %>
<% end %>
 
