<h2>Account Summary</h2>

<h3>Locations</h3>

<ul>
<% @locations.each do |location| %>
  <li><%= location.description %>
    <ul>
    <% location.skus.each do |sku| %>
      <li><%= sku.description %></li>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>
